<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar', {page: "campaign"}) %>

<div id="player-container">

    <div id="campaign-name">
        <h1><%= campaign.name %></h1>
    </div>

    <div id="player-detail-pane">
        <div id="player-detail-container">
            <a id="img-container" class="expanded" href="">
                <img src="/imgs/Rick Hunter.jpg" alt="">
            </a>
            <div id="player-info">
                <div id="level-info">
                    <h5>Level</h5>
                    <h1>1</h1>
                </div>
                <div id="name-occupation">
                    <h1>Rick Hunter</h1>
                    <h3>Your mom</h3>
                </div>
            </div>
            <div id="player-file" class="">
                <div id="attribute-folder" class="player-folder">
                    <a href="#attributes">Attributes</a>
                    <hr>
                    <div class="player-folder-content">
                        <div class='attr-roller rolled' id="IQ-attr">
                            <div class="attr-acronym">IQ</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Intelligence Quotient</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="ME-attr">
                            <div class="attr-acronym">ME</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Mental Endurance</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="MA-attr">
                            <div class="attr-acronym">MA</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Mental Affinity</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="PS-attr">
                            <div class="attr-acronym">PS</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Physical Strength</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="PP-attr">
                            <div class="attr-acronym">PP</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Physical Prowess</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="PE-attr">
                            <div class="attr-acronym">PE</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Physical Endurance</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="PB-attr">
                            <div class="attr-acronym">PB</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Physical Beauty</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                        <div class='attr-roller rolled' id="Spd-attr">
                            <div class="attr-acronym">Spd</div>
                            <div class="attr-number">?</div>
                            <div class="attr-name-full">Speed</div>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                              <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                            </svg>
                        </div>
                    </div>
                </div> 
                <div id="skill-folder" class="player-folder">
                    <a href="#skills">Skills</a>
                    <hr>
                    <div class="player-folder-content">

                    </div>
                </div>
                <div id="equipment-folder" class="player-folder">
                    <a href="#equipmnt">Equipment & Money</a>
                    <hr>
                    <div class="player-folder-content">

                    </div>
                    </div>
                </div>
                <div></div>
        </div>
    </div>

    <div id="players-gallery">
        <h2>PLAYERS</h2>
        <div id="players-list">
            <% for (let player of campaign.players) { %>
                <div class="player-icon">
                    <a href="#<%= player._id %>">
                        <div class="player-gradient"></div>
                        <img src="<%= player.img %>" alt="">
                        <h3><%= player.name %></h3>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

</div>

<div id="campaign-background"></div>

<script src="/js/campaign.js"></script>