<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar', {page: "campaign"}) %>

<div id="player-container">

    <div id="campaign-name">
        <h1><%= campaign.name %></h1>
    </div>

    <div id="player-detail-pane">

      <div id="player-detail-container">
          <div class="img-container expanded" href="">
              <img src="" alt="">
          </div>
          <div id="player-info">
              <div id="level-info">
                  <h5>Level</h5>
                  <h1>1</h1>
              </div>
              <div id="name-occupation">
                  <h1></h1>
                  <h3></h3>
              </div>
          </div>
          <div class="player-file">
              <div id="attribute-folder" class="player-folder">
                  <a href="">Attributes</a>
                  <hr>
                  <div class="player-folder-content">
                      <div class='attr-roller rolled' id="IQ-attr">
                          <div class="attr-acronym">IQ</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Intelligence Quotient</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="ME-attr">
                          <div class="attr-acronym">ME</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Mental Endurance</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="MA-attr">
                          <div class="attr-acronym">MA</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Mental Affinity</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="PS-attr">
                          <div class="attr-acronym">PS</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Physical Strength</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="PP-attr">
                          <div class="attr-acronym">PP</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Physical Prowess</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="PE-attr">
                          <div class="attr-acronym">PE</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Physical Endurance</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="PB-attr">
                          <div class="attr-acronym">PB</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Physical Beauty</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                      <div class='attr-roller rolled' id="Spd-attr">
                          <div class="attr-acronym">Spd</div>
                          <div class="attr-number">?</div>
                          <div class="attr-name-full">Speed</div>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                            <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                          </svg>
                      </div>
                  </div>
              </div> 
              <div id="skill-folder" class="skill-folder player-folder">
                  <a href="">Skills</a>
                  <hr>
                  <div class="player-folder-content">
                    <h3>OCCUPATIONAL SKILLS</h3>
                    <ul id="occ-skills-list" class="skill-list"></ul>
                    <h3>OTHER SKILLS</h3>
                    <ul id="other-skills-list" class="skill-list"></ul>
                  </div>
              </div>
              <div id="equipment-folder" class="player-folder">
                  <a href="">Equipment & Money</a>
                  <hr>
                  <div class="player-folder-content">

                  </div>
                  </div>
              </div>
              <div></div>
      </div>

      <form id="new-player-form" action="/players" method="POST">
        <div class="img-container expanded" href="">
          <input type="file" id="player-image-upload" name="player-image-upload", accept="image/png, image/jpg, image/jpeg">
          <img src="/imgs/rick hunter.jpg" alt="">
        </div>
        <div id="player-info">
            <div id="level-info">
                <h5>Level</h5>
                <h1>1</h1>
            </div>
            <div id="name-input">
              <h2>NEW PLAYER</h2>
              <label for="player-name">Name: </label>
              <input type="text" id="player-name" name="player-name" placeholder="Rick Hunter">
            </div>
        </div>
        <div class="player-file expanded">
          <div id="attribute-form" class="player-folder highlighted">
              <a href="#attributes">Attributes</a>
              <hr>
              <div class="player-folder-content">
                  <div class='attr-roller' id="IQ-attr">
                      <div class="attr-acronym">IQ</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Intelligence Quotient</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="ME-attr">
                      <div class="attr-acronym">ME</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Mental Endurance</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="MA-attr">
                      <div class="attr-acronym">MA</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Mental Affinity</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="PS-attr">
                      <div class="attr-acronym">PS</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Physical Strength</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="PP-attr">
                      <div class="attr-acronym">PP</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Physical Prowess</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="PE-attr">
                      <div class="attr-acronym">PE</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Physical Endurance</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="PB-attr">
                      <div class="attr-acronym">PB</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Physical Beauty</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
                  <div class='attr-roller' id="Spd-attr">
                      <div class="attr-acronym">Spd</div>
                      <div class="attr-number">?</div>
                      <div class="attr-name-full">Speed</div>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="back">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" class="front">
                        <circle cx="50%" cy="50%" r="45" stroke-linecap="round" />
                      </svg>
                  </div>
              </div>
          </div>
          <div id="hp-form" class="player-folder disabled">
            <a href="">Hit Points</a>
            <hr>
            <div class="player-folder-content">
              <div id="base-hp" class="hp-container">
                <h3>BASE HP</h3>
                <h1></h1>
                <div class="heart-container"></div>
                <p>From Physical Endurance</p>
              </div>
              <div id="roll-hp" class="hp-container highlighted">
                <h3>+ ROLL HP</h3>
                <h1>?</h1>
                <div class="heart-container"></div>
                <p>Roll Additional Hit Points</p>
              </div>
            </div>
          </div>
          <div id="occ-form" class="player-folder disabled">
            <a href="">Occupation</a>
            <hr>
            <div class="player-folder-content">
              <% for (let occ of occupations) { %>
                <div id="<%= occ._id %>" class="occ-icon">
                  <div class="img-gradient"></div>
                  <img src="<%= occ.img %>" alt="">
                  <p><%= occ.name %></p>
                </div>
              <% } %>
            </div>
          </div>
          <div id="skill-form" class="player-folder skill-folder disabled">
              <a href="">Skills</a>
              <hr>
              <div class="player-folder-content">
                <h3>OCCUPATIONAL SKILLS</h3>
                <ul id="occ-skills-list" class="skill-list"></ul>
                <h3>OTHER SKILLS</h3>
                <ul id="other-skills-list" class="skill-list"></ul>
              </div>
          </div>

        </div>
        <div></div>

        <div id="info-container">
          <div id="info-container-content">
            <div id="info-container-img"></div>
            <h3></h3>
            <p></p>
          </div>
          <div class="skew-btn">CONFIRM</div>
        </div>

      </form>

    </div>

    <button id="cancel-new-player" class="skew-btn">CANCEL</button>
    <div id="background-blur"></div>

    <div id="players-gallery">
        <h2>PLAYERS</h2>
        <div id="players-list">
            <% for (let player of campaign.players) { %>
                <div class="player-icon">
                    <a href="#<%= player._id %>">
                        <div class="img-gradient"></div>
                        <img src="<%= player.img %>" alt="">
                        <h3><%= player.name %></h3>
                    </a>
                </div>
            <% } %>
            <div class="player-icon" id="new-player">
              <a href="">
                  <div class="img-gradient"></div>
                  <h3>NEW PLAYER</h3>
              </a>
          </div>
        </div>
    </div>

</div>

<div id="campaign-background"></div>

<script src="/js/campaign.js"></script>